
#toDosSection > h2 {
    color: white;
    
    border-bottom: 2px solid white;
}

#toDosSection > h2 > button {
    float: right;
    margin-right: 20px;
    font-size: 20px;
    border: none;
}

#toDosSection {
    text-align: center;
    background-image: url("../../images/blueBackground.jpeg");
    flex: 1;
}
