
#toDosSection > h2 {
    color: white;
    font-size: 40px;
    border-bottom: 2px solid white;
    margin-bottom: 0;
}

#toDosSection > h2 > button {
    position: absolute;
    right: 20px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
}

#toDosSection {
    text-align: center;
    background-image: url("../../images/blueBackground.jpeg");
    flex: 1;
}

#toDosContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    min-height: calc(85vh - 92px);
    margin-top: 0;
}

#toDosContainer > :nth-child(2) {
    border-left: 2px solid white;
    border-right: 2px solid white;
}
