
#sidebarSection {
    min-height: calc(85vh - 11px);
    width: 20vw;
    background-color: wheat;
    border-right: 5px solid teal;
    
    display: flex;
    flex-direction: column;
}

#sidebarSection h2 {
    margin-top: 0;
    text-align: center;
    border-bottom: 3px dashed teal;
    background-color: rosybrown;
}
